.heading {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: var(--main-color);
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.services-box {
  padding: 2rem 1.5rem;
  background-color: var(--second-bg-color);
  border: 0.2rem solid var(--second-bg-color);
  border-radius: 1rem;
  transition: 0.5s;
}

.services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.services-box .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-box:hover .icon :not(a svg) {
  color: var(--main-color);
}

.services-box .icon a {
  display: inline-flex;
  background-color: var(--white-color);
  border-radius: 50%;
  padding: 1rem;
}

.services-box .icon a svg {
  font-size: 3rem;
  color: var(--bg-color);
  transform: rotate(-225deg);
}

.services-box .icon a:hover svg {
  transform: rotate(180deg);
}

.services-box h3 {
  font-size: 3rem;
  margin: 0.5rem 0 2rem;
}

.services-box:hover h3 {
  color: var(--main-color);
}

.services-box p {
  font-size: 1.6rem;
}
