.heading {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: var(--main-color);
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.services-box {
  padding: 3rem 2.5rem;
  background-color: var(--second-bg-color);
  border: .2rem solid var(--second-bg-color);
  border-radius: 1rem;
}

.services-box .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-box .icon a {
  display: inline-flex;
  background-color: var(--white-color);
  border-radius: 50%;
  padding: 1rem;
}

.services-box .icon a svg {
  font-size: 3rem;
  color: var(--bg-color);
  transform: rotate(-225deg);
}

.services-box h3 {
  font-size: 3rem;margin: .5rem 0 2rem;
}