.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}

.contact-container .contact-box:first-child {
  align-self: center;
}

.contact-box h2 {
  font-size: 2.3rem;
}

.contact-box p {
  font-size: 1.6rem;
}

.contact-box .desc {
  margin: 1.5rem 0 2.5rem;
}

.contact-box .contact-detail {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 2rem 0;
}

.contact-detail .icon {
  display: inline-flex;
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: 3rem;
  padding: 1.2rem;
  border-radius: .6rem;
  margin-right: 1.5rem;
}

.contact-detail .detail p:first-child {
  color: var(--main-color)
}

.contact-box .contact-form-container {
  width: 100%;
  background: var(--second-bg-color);
  padding: 2.5rem 3.5rem 3.5rem;
  border-radius: 1rem;
  text-align: center;
}

.contact-box .heading {
  font-size: 3.5rem;
}

.contact-form {
  display: flex;
  align-items: center;
}

.contact-form textarea {
  width: 100%;
}