* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  outline: none;
}

:root {
  --bg-color: #121314;
  --second-bg-color: #17171a;
  --main-color: #0ebdf3;
  --white-color: #f2f2f2;
  --disabled-color: #fff3;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--white-color);
  background-color: var(--bg-color);
  max-height: 100%vh;
}

section {
  position: absolute;
  width: 100%;
  padding: 7rem 9% 3.5rem;
  margin-bottom: 4rem;
}

footer {
  position: fixed;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 992px) {
  header {
    padding: 2rem 4%;
  }

  section {
    padding: 10rem 4% 2rem;
  }
}

@media screen and (max-width: 768px) {
  #menu-icon {
    display: block;
  }
}
