.home {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.home-detail h1 {
  font-size: clamp(3.5rem, 10vw, 5.5rem);
}

.home-detail h2 {
  display: inline-block;
  font-size: 3.2rem;
  margin-top: -1rem;
}

.home-detail p {
  font-size: 1.6rem;
  margin: 1rem 0 2.5rem;
}

.home-detail .btn-scin {
  display: flex;
  align-items: center;
}